cask "termagitchi" do
  version "@@VERSION@@"

  on_macos do
    on_intel do
      sha256 "@@DARWIN_AMD64@@"
      url "https://github.com/TevvvB/termagitchi/releases/download/v#{version}/termagitchi_#{version}_darwin_amd64.tar.gz"
    end
    on_arm do
      sha256 "@@DARWIN_ARM64@@"
      url "https://github.com/TevvvB/termagitchi/releases/download/v#{version}/termagitchi_#{version}_darwin_arm64.tar.gz"
    end
  end

  on_linux do
    on_intel do
      sha256 "@@LINUX_AMD64@@"
      url "https://github.com/TevvvB/termagitchi/releases/download/v#{version}/termagitchi_#{version}_linux_amd64.tar.gz"
    end
    on_arm do
      sha256 "@@LINUX_ARM64@@"
      url "https://github.com/TevvvB/termagitchi/releases/download/v#{version}/termagitchi_#{version}_linux_arm64.tar.gz"
    end
  end

  name "termagitchi"
  desc "A creature for every worktree, in your agent's status line"
  homepage "https://github.com/TevvvB/termagitchi"

  binary "pets"

  postflight do
    system_command "/usr/bin/xattr",
                   args: ["-dr", "com.apple.quarantine", "#{staged_path}/pets"],
                   must_succeed: false
  end
end
